<%= javascript_include_tag "bootstrap-slider" %>

<% if current_user.wepay_account_status? %>
<div class="row" style="margin-bottom: 50px;">
  <div class="col-md-6 col-md-offset-3">
    <h2 style="margin-top: 25px;">Create a Campaign</h2>
    <p>
      Based on your current location, you are creating a campaign located near
      <strong><%= current_user.address %></strong><br>
      You can change the location of this campaign after it is created.
    </p>

    <%= simple_form_for Campaign.new do |f| %>
      <%= f.input :name %>
      <%= f.input :description, as: :text %>
      <%= f.input :volunteers_required, as: :boolean, label: "Is this a local event where people can volunteer their time?" %>
      <div id="campaign_address">
        <h4>Event Location</h4>
        <%= f.input :street_1 %>
        <%= f.input :street_2, label: "Street 2 (Optional)" %>
        <div class="row">
          <div class="col-md-4">
            <%= f.input :city %>
          </div>
          <div class="col-md-4">
            <%= f.input :state %>
          </div>
          <div class="col-md-4">
            <%= f.input :zipcode %>
          </div>
        </div>
      </div>

      <%= f.input :youtube_link %>

      <%= f.input :nonprofit_organization, as: :boolean, label: "Is this nonprofit 501c organization?" %>
      <%= f.input :avatar, label: "Upload Image", as: :file %>
      <div class="row">
        <b style="margin-right: 10px;">$10</b>
        <input id="ex2" type="text" name="campaign[targeted_amount]" class="col-md-12" value="" data-slider-min="10" data-slider-max="10000" data-slider-step="5" data-slider-value="250"/>
        <b style="margin-left: 10px;">$10000</b>
      </div>

      <div class="row" style="margin-top: 20px;">
        <div class="col-md-6 col-md-offset-3">
          <%= f.submit "Create Campaign", class: "btn btn-primary btn-block" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<% else %>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h4 class="text-center" style="margin-top: 30px;">
        To start creating campaigns please <%= link_to "Connect Your WePay Account", edit_user_registration_path, class: "btn btn-success", style: "padding: 10px;" %>
      </h4>
    </div>
  </div>
<% end %>